body {
    background-color: black;
}

.index-head {
    color: gold;
    text-align: center;
    font-size: 60px;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    

}
a:hover{
    color: gold;
    transition: 1s;
}

ul {
    text-align: center;
}