body {
    background-color: black;
}

.index-head {
    color: gold;
    text-align: center;
    font-size: 60px;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    

}
a:hover{
    color: gold;
    transition: 1s;
}

.links {
    text-align: center;
}
.recipe-head{
    color: gold;
    text-align: center;
    font-size: 60px;
}

.food img{
    height:auto;
    width: 500px;
    
}

.food{
    text-align: center;
}

.description{
    color: gold;
    font-size: 40px;
    text-align: center;
}

ol li ,ul li, p {
    color: white;
    text-align: center;
    font-size: 25px;
    list-style: none;
    
}

ol li{
    list-style: decimal;
}


